
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #333;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 1rem auto;
}

.header {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid yellow;
}

.header__nav {
  width: 100%;
  height: 100%;
}

.ul-nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ul-nav__link { 
  background-color: yellow;
  width: 10rem;
  height: 3rem;
  text-decoration: none;
  border-radius: 15px;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s all;
}

.ul-nav__link:hover {
  color: yellow;
  background-color: #333;
  border: 1px solid yellow;
}

.hero {
  max-width: 1200px;
  width: 90vw;
  height: 70vh;
  margin: 1rem auto;
  display: flex;
  border-bottom: 1px solid yellow;
}

.hero__bg-container {
  flex-basis: 50%;
  height: 100%;
}

.hero__bg {
  flex-basis: 50%;
  height: 100%;
  background-image: url(../img/chris-cronell.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__biography {
  flex-basis: 50%;
  height: 100%;
  margin-left: 1rem;
}

.hero__description {
  color: rgb(112, 104, 104);
  line-height: 1.7;
  overflow: hidden;
}

.hero__btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1rem;
}

.hero__btn {
  display: block;
  width: 10rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  text-decoration: none;
  border-radius: 15px;
  text-align: right;
  margin-right: 1rem;
}

.hero__btn:hover {
  color: yellow;
  background-color: #333;
  border: 1px solid yellow;
  cursor: pointer;
}

h1 {
  color: #fff;
  text-align: center;
  margin: 1rem;
} 

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 90%;
  margin: 2rem auto;
  height: 30vh;
}

.footer__details {
  flex-basis: 33%;
  height: 100%;
  padding: 1rem;
}

.footer__details .footer__link {
  display: block;
  text-decoration: none;
  padding: .5rem 0;
  color: #fff;
}

.footer__link:hover {
  color: yellow;
}

.footer__contact {
  flex-basis: 33%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.footer__contact h3:hover {
  text-decoration: underline;
  color: yellow;
  cursor: pointer;
}

.footer__social-icons {
  flex-basis: 33%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.fab {
  font-size: 2rem;
  margin: 1rem;
  transition: .3s all;
}

.fab:hover {
  color: yellow;
  cursor: pointer;
}




